@{
    ViewData["Title"] = "Контакты";
}

    <div class="container-fluid cont_wide">
        <img class="wideImg" src="~/img/contact/DSCN4188p.jpg"/>
    </div>


    <div class="container contact">

        <h6 class="py-5 text-center">
            КОНТАКТЫ
        </h6>

        <div class="row justify-content-center bg__contact_m">

            <div class="row col-md-10 col-lg-8 py-3 contact__about bg__contact">

                <div class="col-md-6 contact__about_info">

                    <p class="contact__about_text">Свяжитесь со мной наиболее удобным для вас способом:</p>
                    <p class="contact__about_links">
                        E-mail: evgenya.okulova@mail.ru<br />

                        Instagram: <a href="https://www.instagram.com/evgenya3_photo/">evgenya3_photo</a><br />

                        Vkontakte: <a href="https://vk.com/evgen_ya3">vk.com/evgen_ya3</a>
                    </p>

                </div>

                <div class="col-md-5 col-8 offset-2 offset-lg-0">
                    <img class="contact__img" src="~/img/contact/2IMG_4556.jpg" />
                </div>
            </div>

        </div>

    </div>


