
@{
    ViewData["Title"] = "Мероприятия";
}


<div class="container container__portfolio">

    <h5 class="text-center space__">Мероприятия</h5>

    <div class="row mt__portfolio bg_bot_center_5 py-3 img__portfolio_verticall">
        <div class="row">

            <div class="col-8 col-lg-7 text-left">
                <img src="~/img/portfolio/events/IMG_6051.jpg" />
            </div>

            <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                <img src="~/img/portfolio/events/IMG_6287.jpg" />
            </div>
        </div>

    </div>

    <div class="col-12 text-right space__sm">
        <p>Свадьба</p>
    </div>

    <div class="row mt__portfolio bg_bot_center_6 py-3 img__portfolio_verticall">
        <div class="row">

            <div class="col-8 col-lg-7 text-left">
                <img src="~/img/portfolio/events/2IMG_59783.jpg" />
            </div>

            <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                <img src="~/img/portfolio/events/2IMG_6030.jpg" />
            </div>
        </div>

    </div>

    <div class="col-12 text-right space__sm">
        <p>На доску почета</p>
    </div>

    <div class="row mt__portfolio bg_bot_center_7 py-3 img__portfolio_verticall">
        <div class="row">

            <div class="col-8 col-lg-7 text-left">
                <img src="~/img/portfolio/events/IMG_0501.jpg" />
            </div>

            <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                <img src="~/img/portfolio/events/IMG_0071.jpg" />
            </div>
        </div>

    </div>

    <div class="col-12 text-right space__sm">
        <p>День Рождения/Юбилей/Корпоратив</p>
    </div>

    <div class="row mt__portfolio bg_bot_center_8 py-3 img__portfolio_verticall">
        <div class="row">

            <div class="col-8 col-lg-7 text-left">
                <img src="~/img/portfolio/events/IMG_5671-2.jpg" />
            </div>

            <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                <img src="~/img/portfolio/events/IMG_5724.jpg" />
            </div>
        </div>

    </div>

    <div class="col-12 text-right space__sm">
        <p>Последний звонок/Выпускной</p>
    </div>

</div>


