
@{
    ViewData["Title"] = "love_story";
}

<div class="container container__portfolio">

    <h5 class="text-center space__">Семейная</h5>

    <div class="row mt__portfolio">
        <div class="col-md-6 ">

            <div class="col-12 pb-5 bg_bot_left_2 ">
                <img class="img__portfolio_top" src="~/img/portfolio/family/IMG_3956-3.jpg" />
            </div>

            <div class="col-12 text-center space__sm">
                <p>Диана и ...</p>
            </div>

        </div>



        <div class="col-md-6 pb-3">

            <div class="col-12 pt-5 bg_top_right_4 ">
                <img class="img__portfolio_bottom" src="~/img/portfolio/family/IMG_6649.jpg" />
            </div>

            <div class="col-12 text-center space__sm">
                <p>Кира и Ксения</p>
            </div>

        </div>


    </div>

</div>



