
@{
    ViewData["Title"] = "love_story";
}

<div class="container container__portfolio">

    <h5 class="text-center space__sm">Love story</h5>

    <div class="row mt__portfolio">
        <div class="col-md-6 ">

            <div class="col-12 bg_bot_left_1 ">
                <img class="img__portfolio_smaller pl_5percent" src="~/img/portfolio/love_story/IMG_6098.JPG.jpg" />
            </div>

            <div class="col-12 text-center space__sm">
                <p>Альбина и Тимофей</p>
            </div>

        </div>



        <div class="col-md-6 pb-3">

            <div class="col-12 bg_top_right_3 ">
                <img class="img__portfolio_smaller" src="~/img/portfolio/love_story/3.jpg" />
            </div>

            <div class="col-12 text-center space__sm">
                <p>Екатерина и Егор</p>
            </div>

        </div>


    </div>

</div>



