
@{
    ViewData["Title"] = "solo";
}


    <div class="container container__portfolio">

        <h5 class="text-center space__">Индивидуальная</h5>


        <div class="row mt__portfolio bg_top_right_1 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_9283.jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_8640.jpg" />
            </div>


        </div>

        <div class="col-12 text-right">
            <p>Анастасия</p>
        </div>

        <div class="row mt__portfolio bg_left_top_1 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_7617.jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/8dtTzbBz2vM.jpg" />
            </div>

        </div>

        <div class="col-12 text-right">
            <p>Ксения</p>
        </div>

        <div class="row mt__portfolio bg_bot_right_1 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_3508.jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_1938-2.jpg" />
            </div>

        </div>

        <div class="col-12 text-right">
            <p>Альбина</p>
        </div>

        <div class="row mt__portfolio bg_bot_center_1 py-3 img__portfolio_verticall">


            <div class="col-8 col-lg-7 text-left">
                <img src="~/img/portfolio/solo/IMG_5121.jpg" />
            </div>

            <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                <img src="~/img/portfolio/solo/IMG_5152.jpg" />
            </div>
        </div>



        <div class="col-12 text-right">
            <p>Диана</p>
        </div>

        <div class="row mt__portfolio bg_top_left_2 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_2952.jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_2911.jpg" />
            </div>


        </div>

        <div class="col-12 text-right">
            <p>Полина</p>
        </div>

        <div class="row mt__portfolio bg_bot_right_2 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_7946(1).jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_8494.jpg" />
            </div>

        </div>

        <div class="col-12 text-right">
            <p>Даниил</p>
        </div>

        <div class="row mt__portfolio bg_bot_center_2 py-3 img__portfolio_verticall">
            <div class="row">

                <div class="col-8 col-lg-7 text-left">
                    <img src="~/img/portfolio/solo/IMG_3686.jpg" />
                </div>

                <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                    <img src="~/img/portfolio/solo/IMG_3757.jpg" />
                </div>
            </div>

        </div>

        <div class="col-12 text-right">
            <p>Александра</p>
        </div>

        <div class="row mt__portfolio bg_top_right_2 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_5542.jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_5670.jpg" />
            </div>


        </div>

        <div class="col-12 text-right">
            <p>Люба</p>
        </div>

        <div class=" mt__portfolio bg_bot_center_3 py-3 img__portfolio_verticall">
            <div class="row">

                <div class="col-8 col-lg-7 text-left">
                    <img src="~/img/portfolio/solo/IMG_9072.jpg" />
                </div>

                <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                    <img src="~/img/portfolio/solo/IMG_8963.jpg" />
                </div>

            </div>

        </div>

        <div class="col-12 text-right">
            <p>Вячеслав</p>
        </div>

        <div class="row mt__portfolio bg_top_left_3 py-3 img__portfolio">

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_8439-2.jpg" />
            </div>

            <div class="col-6">
                <img src="~/img/portfolio/solo/IMG_8603-2.jpg" />
            </div>


        </div>

        <div class="col-12 text-right">
            <p>Ксения</p>
        </div>

        <div class="row mt__portfolio bg_bot_center_4 py-3 img__portfolio_verticall">
            <div class="row">

                <div class="col-8 col-lg-7 text-left">
                    <img src="~/img/portfolio/solo/IMG_1382.jpg" />
                </div>

                <div class="col-8 col-lg-7 offset-4 offset-lg-5  text-right">
                    <img src="~/img/portfolio/solo/IMG_1075.jpg" />
                </div>
            </div>

        </div>

        <div class="col-12 text-right">
            <p>Альбина</p>
        </div>

    </div>

