@{
    ViewData["Title"] = "Цены";
}

<div class="container-fluid cont_wide">
    <img class="wideImg" src="~/img/price/IMG_2915.jpg" />
</div>

<div class="container price my-5">

    <h6 class="my-5">СТОИМОСТЬ</h6>

    <div class="row">

        <div class="col-md-6 price__section">

            <img class="price__section_img" src="~/img/price/3.jpg" />

            <h6 class="my-3 price__section_name">
                LOVE STORY
            </h6>

            <div class="my-3  price__section__info">
                <p>
                    продолжительность 1-2 часа (до 30 обработанных фотографий, готовность всех фото в течении недели) - 800 рублей.
                </p>
            </div>
        </div>

        <div class="col-md-6 price__section">

            <img class="price__section_img" src="~/img/price/3.jpg" />

            <h6 class="my-3 price__section_name">
                СЕМЕЙНАЯ
            </h6>

            <div class="my-3 price__section__info ">
                <p>
                    продолжительность 1-2 часа (до 30 обработанных фотографий, готовность всех фото в течении недели) - 900 рублей.
                </p>
            </div>
        </div>

        <div class="col-md-6 price__section">

            <img class="price__section_img" src="~/img/price/IMG_9072.jpg" />

            <h6 class="my-3 price__section_name">
                ИНДИВИДУАЛЬНАЯ
            </h6>

            <div class="my-3 price__section__info ">
                <p>
                    продолжительность 1-2 часа (до 30 обработанных фотографий, готовность всех фото в течении недели) - 700 рублей.
                </p>
            </div>
        </div>

        <div class="col-md-6 price__section">

            <img class="price__section_img" src="~/img/price/IMG_0071.jpg" />

            <h6 class="my-3 price__section_name">
                МЕРОПРИЯТИЯ
            </h6>

            <div class="my-3 price__section__info ">
                <p>
                    (свадьба, юбилей, выпускные и т.д.) - 1000 рублей/час.
                </p>
            </div>
        </div>

        <div class="col-md-6 price__section">

            <img class="price__section_img" src="~/img/price/IMG_5472.jpg" />

            <h6 class="my-3 price__section_name">
                ВИДЕО
            </h6>

            <div class="my-3 price__section__info ">
                <p>
                    продолжительность 1-2 часа (до 30 обработанных фотографий, готовность всех фото в течении недели) - 700 рублей.
                </p>
            </div>
        </div>

        <div class="col-md-6 price__section">

            <img class="price__section_img" src="~/img/price/IMG_9072.jpg" />

            <h6 class="my-3 price__section_name">
                СЕРТИФИКАТ
            </h6>

            <div class="my-3 price__section__info ">
                <p>
                    По желанию можно приобрести подарочный сертификат для друзей, родных и близких<br />
                    (стоимость в зависимости от вашего выбора фотосессии)
                </p>
            </div>
        </div>


    </div>

</div>


