
@{
    Layout = null;
    ViewData["Title"] = "redirect";
}


    
    <head>
        <meta http-equiv="refresh" content="3; URL='https://www.instagram.com/evgenya3_photo/'" />
    </head>

<div class="container text-center">
    <h1>Вы покидаете текущую страницу</h1>
    <h3 class="text-muted">
        Не забудьте подписаться
    </h3>
</div>